.login-container {
    padding-top: 150px;
    padding-bottom: 150px;
    .login-inner {
        width: 300px
    }

    .btn-custom {
        margin-top: 15px;
    }
    .btn-question-mark {
        font-size: 12px;
        padding: 2px 7px;
        border-radius: 14px;
    }
    .fname {
        width: 270px;
        float: left;
        margin-right: 5px;
    }
}