.error {
    color: red;
}

.clear-both {
    clear: both;
}

.hr {
    width: 100%;
    color: black;
    height: 1px;
    background-color: black;
}

.btn-margin {
    margin-right: 10px;
}

.container-left-margin {
    margin-left: 30px;
}