.review-area {
    max-width: 600px;
    margin-bottom: 20px;
}

.update-button {
    margin-bottom: 15px;
}

.btn-back {
    margin-left: 800px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.textarea {
    width: 800px;
    height: 300px;
}